@namespace BroadcastManager2.Components
@inject IJSRuntime JS

<style>
    #player_id {
        width: @width;
        height: @height;
    }

    i.op-con.op-warning::before {
        content: '';
    }
</style>

<div id="player_id"></div>

@code
{
    private IJSObjectReference? jsModule;
    private string width = "90%";
    private string height = "auto";

    public enum SourceType
    {
        webrtc,
        hls,
        dash,
        file,
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "/Components/StreamViewer.razor.js");
        }
        await base.OnAfterRenderAsync(firstRender);
        await Task.Delay(0);
    }


    public async Task StartPlayerAsync(string StreamUrl, SourceType sourceType, int Width=0, int Height=0)
    {
        if(Width > 0)
            width = Width + "px";
        if(Height > 0)
            height = Height + "px";
        if(Width > 0 || Height > 0)
            _ = InvokeAsync(() =>
            {
                StateHasChanged();
            });

        string sType = sourceType.ToString();
        if (sourceType == SourceType.file)
        {
            // oven media does not provide a list of supported file types. We'll just extract the extension and hope it works... :(
            // extensions listed in documentation are "'mp4' 'webm' or etc"
            int lastDot = StreamUrl.LastIndexOf('.') + 1;
            sType = StreamUrl.Substring(lastDot).ToLower();
        }

        //var m1 = await JS.InvokeAsync<IJSObjectReference>("import", "https://cdn.jsdelivr.net/npm/ovenplayer/dist/ovenplayer.js");
        var m1 = await JS.InvokeAsync<IJSObjectReference>("import", "/scripts/ovenplayer.js");
        if (jsModule is not null)
            await jsModule.InvokeVoidAsync("startPlayer", StreamUrl, sType);
        await Task.Delay(0);
    }

}